.homepageBody
{
    margin : auto;
    width : 100%;
    padding : 3% 20%;
    text-align : center;
    color: yellow;
    background-color : inherit;
    opacity : 1;
    
}

.cards {
    display : inline-block;
    padding : 0 3rem;
    margin: auto;
    
}